body {
    background-color: #2d283e;
}

.margin-0-auto {
    margin: 0 auto;
}

.table-style {
    table-layout: fixed;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 56px;
}

.table-style th[scope=row] {
    width: 60px;
    text-align: center;
    color: #dadce0;
}

.site-link {
    color: #d1d7e0;
    text-decoration: none;
}

.site-link:hover {
    color: #4c495d;
}

.keyword-link {
    color: white;
    text-decoration: none;
}

.keyword-link:hover {
    color: white;
}

.keyword-link span {
    max-width: 100%;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.navbar-link {
    color: #d1d7e0;
    text-decoration: none;
}

.navbar-link:hover {
    color: #802bb1
}