<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Hot Keywords</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">HOME</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="#">Google</a>
                    <a class="nav-link" href="#">Nate</a>
                    <a class="nav-link" href="#">Zum</a>
                    <a class="nav-link" href="#">DreamWiz</a>
                    <a class="nav-link" href="#">KOREA.COM</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- ranking table -->
    <table class="table table-dark table-striped table-style">
        <thead>
          <tr>
            <th scope="row">00시</th>
            <th scope="col"><a class="site-link" href="#">Google</a></th>
            <th scope="col"><a class="site-link" href="#">Nate</a></th>
            <th scope="col"><a class="site-link" href="#">Zum</a></th>
            <th scope="col"><a class="site-link" href="#">Dreamwiz</a></th>
            <th scope="col"><a class="site-link" href="#">KOREA.COM</a></th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Nate-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Google-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Zum-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Dreamwiz-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">KOREA.COM-keyword</span></a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Google-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Nate-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Zum-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Dreamwiz-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">KOREA.COM-keyword</span></a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Google-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Nate-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Zum-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Dreamwiz-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">KOREA.COM-keyword</span></a></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Google-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Nate-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Zum-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Dreamwiz-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">KOREA.COM-keyword</span></a></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Google-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Nate-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Zum-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Dreamwiz-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">KOREA.COM-keyword</span></a></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Google-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Nate-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Zum-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Dreamwiz-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">KOREA.COM-keyword</span></a></td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Google-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Nate-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Zum-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Dreamwiz-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">KOREA.COM-keyword</span></a></td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Google-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Nate-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Zum-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Dreamwiz-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">KOREA.COM-keyword</span></a></td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Google-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Nate-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Zum-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Dreamwiz-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">KOREA.COM-keyword</span></a></td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Google-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Nate-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Zum-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">Dreamwiz-keyword</span></a></td>
                <td><a class="keyword-link" href="#"><span class="align-middle d-inline-block text-truncate">KOREA.COM-keyword</span></a></td>
            </tr>
        </tbody>
      </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>